html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "icomoon"; src: url("fonts/icomoon.eot?3a3x7x"); src: url("fonts/icomoon.eot?#iefix3a3x7x") format("embedded-opentype"), url("fonts/icomoon.ttf?3a3x7x") format("truetype"), url("fonts/icomoon.woff?3a3x7x") format("woff"), url("fonts/icomoon.svg?3a3x7x#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-ok:before { content: "\e607"; }

.icon-error:before { content: "\e608"; }

.icon-mail:before { content: "\e600"; }

.icon-articles:before { content: "\e601"; }

.icon-faino:before { content: "\e602"; }

.icon-fox:before { content: "\e603"; }

.icon-free:before { content: "\e604"; }

.icon-useful:before { content: "\e605"; }

.icon-uxfox:before { content: "\e606"; }

body { font-family: Roboto, Helvetica Neue, Arial, sans-serif; font-size: 12px; line-height: 1.4; color: #718a96; }

a { color: #ff5722; text-decoration: none; font-weight: 500; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
a:hover { text-decoration: none; color: black; }

.site, .footer .footer__in { max-width: 940px; margin: 0 auto; }
@media only screen and (max-width: 990px) { .site, .footer .footer__in { margin: 0 25px; } }
@media only screen and (max-width: 700px) { .site, .footer .footer__in { margin: 0 20px; } }
@media only screen and (min-width: 1200px) { .site, .footer .footer__in { margin: 0 auto; max-width: 78.33333%; } }

.site { min-height: 100%; margin-bottom: -60px; }
.site .site__in { display: table-cell; vertical-align: middle; width: 100%; }
.site .site__in .site__in1 { display: inline-block; }
@media only screen and (max-width: 700px) { .site { margin-bottom: 0; min-height: 0; } }
.site:after { height: 60px; display: block; content: " "; }
@media only screen and (max-width: 700px) { .site:after { display: none; } }

html, body { height: 100%; }
@media only screen and (max-width: 700px) { html, body { height: auto; } }

.footer { height: 60px; background: url(../img/footer.png) repeat-x 0 100%; line-height: 20px; overflow: hidden; position: relative; }
@media only screen and (min-width: 1200px) { .footer { height: 5vw; } }
@media only screen and (max-width: 700px) { .footer { height: auto; text-align: center; } }
@media only screen and (min-width: 1000px) { .footer .footer__in { padding-top: 10px; } }
.footer .footer__icon { position: absolute; left: 50%; bottom: 26px; margin-left: -10px; font-size: 25px; color: #b0bec5; }
@media only screen and (max-width: 700px) { .footer .footer__icon { position: static; } }
@media only screen and (min-width: 1000px) { .footer .footer__icon { bottom: 23px; } }
@media only screen and (min-width: 1200px) { .footer .footer__icon { bottom: 2.16667vw; margin-left: -0.83333vw; font-size: 2.08333vw; } }

.faino { float: left; width: 46%; }
@media only screen and (max-width: 700px) { .faino { float: none; text-align: center; width: auto; margin-bottom: 20px; } }
.faino .faino__icon { font-size: 30px; color: #b0bec5; display: inline-block; vertical-align: top; margin-right: 41px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
@media only screen and (min-width: 1200px) { .faino .faino__icon { font-size: 2.5vw; margin-right: 3.41667vw; } }
@media only screen and (max-width: 700px) { .faino .faino__icon { margin: 0; display: block; margin-bottom: 36px; margin-top: 60px; } }
@media only screen and (min-width: 1000px) { .faino .faino__icon { vertical-align: middle; margin-right: 26px; } }
.faino .faino__icon:hover { color: black; }
.faino .faino__text { display: inline-block; white-space: nowrap; vertical-align: top; }
@media only screen and (max-width: 700px) { .faino .faino__text { white-space: normal; display: block; } }
@media only screen and (min-width: 1000px) { .faino .faino__text { vertical-align: middle; } }
.faino .faino__text span { display: block; text-indent: -1em; }
@media only screen and (max-width: 700px) { .faino .faino__text span { text-indent: 0; } }
@media only screen and (min-width: 1000px) { .faino .faino__text span { display: inline; text-indent: 0; } }

.feedback { float: right; text-align: right; width: 46%; }
@media only screen and (max-width: 700px) { .feedback { float: none; text-align: center; width: auto; margin-bottom: 26px; margin-top: 17px; } }
@media only screen and (min-width: 1000px) { .feedback span { display: inline-block; vertical-align: middle; } }
@media only screen and (min-width: 1000px) { .feedback:before { content: " "; display: inline-block; height: 30px; vertical-align: middle; } }
@media only screen and (min-width: 1000px) { .feedback br { display: none; } }

h1 { color: #ff6e14; font-size: 40px; text-align: center; padding-top: 34px; background: -webkit-linear-gradient(#ff9100, #ff5822); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
h1 span { display: none; }
@media only screen and (min-width: 1200px) { h1 { font-size: 3.33333vw; } }

.title { font-weight: 700; color: #1d1d1d; margin-top: 60px; margin-bottom: 21px; text-align: center; font-size: 32px; }
@media only screen and (min-width: 1200px) { .title { font-size: 2.66667vw; } }

.subtitle { font-size: 16px; color: #718a96; line-height: 1.1875; text-align: center; margin-bottom: 70px; }
@media only screen and (min-width: 1200px) { .subtitle { font-size: 1.33333vw; } }

.top-part { *zoom: 1; margin-bottom: 70px; }
.top-part:after { content: " "; display: table; clear: both; }

.form { width: 280px; margin: 0 auto; margin-bottom: -50px; }
@media only screen and (max-width: 700px) { .form { margin-bottom: 58px; } }
@media only screen and (min-width: 1200px) { .form { width: 23.33333vw; } }
.form .form__input { position: relative; margin-bottom: 20px; }
.form .form__input .form__icon { position: absolute; right: 20px; top: 50%; font-size: 20px; margin-top: -10px; -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
.form .form__input .form__icon.icon-ok, .form .form__input .form__icon.icon-error { top: 0; opacity: 0; }
.form .form__input .form__icon.icon-mail { font-size: 15px; margin-top: -8px; }
.form .form__input .form__icon.icon-error { font-size: 17px; }
.form .form__input input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 48px; font-size: 16px; line-height: normal; padding-left: 20px; padding-right: 20px; border-radius: 4px; border: 1px solid #b0bec5; -webkit-transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -moz-transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
.form .form__input input:-moz-placeholder, .form .form__input input::-moz-placeholder { color: #b0bec5; opacity: 1; }
.form .form__input input::-webkit-input-placeholder { color: #b0bec5; }
.form .form__input input:hover { border-color: #4cc1fc; }
.form .form__input input:focus { box-shadow: inset 0 0 0 1px #56b6ff; border-color: #4cc1fc; }
.form .form__input.is-ok .form__icon { color: #00b64f; }
.form .form__input.is-ok .icon-mail, .form .form__input.is-ok .icon-error { top: 0; opacity: 0; }
.form .form__input.is-ok .icon-ok { top: 50%; opacity: 1; }
.form .form__input.is-ok input { box-shadow: inset 0 0 0 1px #00b64f; border-color: #00b64f; }
.form .form__input.is-error .form__hint { opacity: 1; top: -50px; }
.form .form__input.is-error .icon-error { top: 50%; opacity: 1; color: #f5a623; }
.form .form__input.is-error input { box-shadow: inset 0 0 0 1px #f5a623; border-color: #f5a623; }
.form .form__input.is-error .icon-mail, .form .form__input.is-error .icon-ok { top: 0; opacity: 0; }
.form button, .form .form__button { border-radius: 4px; height: 50px; line-height: 50px; width: 280px; text-align: center; font-size: 16px; color: white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9100), color-stop(100%, #ff5a1f)); background-image: -webkit-linear-gradient(#ff9100, #ff5a1f); background-image: -moz-linear-gradient(#ff9100, #ff5a1f); background-image: -o-linear-gradient(#ff9100, #ff5a1f); background-image: linear-gradient(#ff9100, #ff5a1f); -webkit-appearance: none; -webkit-transition: background 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -moz-transition: background 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: background 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); transition: background 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); position: relative; }
.form button span, .form .form__button span { position: relative; z-index: 100; }
@media only screen and (min-width: 1200px) { .form button, .form .form__button { width: 23.33333vw; } }
.form button:hover:after, .form .form__button:hover:after { opacity: 1; }
.form button:active:before, .form .form__button:active:before { opacity: 1; z-index: 2; }
.form button:before, .form button:after, .form .form__button:before, .form .form__button:after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: red; content: " "; z-index: 1; opacity: 0; -webkit-transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -moz-transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); border-radius: 4px; }
.form button:before, .form .form__button:before { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5822), color-stop(100%, #ff9100)); background-image: -webkit-linear-gradient(#ff5822, #ff9100); background-image: -moz-linear-gradient(#ff5822, #ff9100); background-image: -o-linear-gradient(#ff5822, #ff9100); background-image: linear-gradient(#ff5822, #ff9100); }
.form button:after, .form .form__button:after { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9100), color-stop(100%, #dd2c00)); background-image: -webkit-linear-gradient(#ff9100, #dd2c00); background-image: -moz-linear-gradient(#ff9100, #dd2c00); background-image: -o-linear-gradient(#ff9100, #dd2c00); background-image: linear-gradient(#ff9100, #dd2c00); }
.form button[disabled], .form button[disabled]:hover, .form button[disabled]:active, .form .form__button[disabled], .form .form__button[disabled]:hover, .form .form__button[disabled]:active { background: white; color: #ff5722; border: 2px solid #ff8d00; height: 50px; line-height: 46px; cursor: not-allowed; opacity: 1; }
.form button[disabled]:before, .form button[disabled]:after, .form button[disabled]:hover:before, .form button[disabled]:hover:after, .form button[disabled]:active:before, .form button[disabled]:active:after, .form .form__button[disabled]:before, .form .form__button[disabled]:after, .form .form__button[disabled]:hover:before, .form .form__button[disabled]:hover:after, .form .form__button[disabled]:active:before, .form .form__button[disabled]:active:after { display: none; }
.form .form__hint { opacity: 0; z-index: -1; position: absolute; top: -50px; top: -10px; left: 0; width: 280px; background: black; height: 30px; line-height: 30px; font-size: 12px; text-align: center; border-radius: 4px; color: white; -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
.form .form__hint:before { content: " "; width: 20px; height: 20px; background: black; position: absolute; z-index: -1; left: 50%; top: 14px; margin-left: -10px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.hint { font-size: 12px; line-height: 1.66667; width: 20%; float: left; }
.hint.hint_right { float: right; }
@media only screen and (max-width: 700px) { .hint.hint_right { float: none; } }
@media only screen and (max-width: 700px) { .hint.hint_left { margin-bottom: 20px; } }
@media only screen and (max-width: 700px) { .hint { float: none; text-align: center; width: auto; } }
@media only screen and (min-width: 1200px) { .hint { font-size: 1vw; } }

.features { *zoom: 1; }
.features:after { content: " "; display: table; clear: both; }

.feature { width: 32%; float: left; margin-right: 2%; margin-bottom: 20px; }
@media only screen and (max-width: 700px) { .feature { float: none; margin: 0; text-align: center; width: auto; margin-bottom: 30px; } }
.feature:last-child { float: right; margin-right: 0; }
.feature:last-child p { margin-right: 0; }
@media only screen and (max-width: 700px) { .feature:last-child { margin-bottom: 10px; } }
.feature h3 { font-size: 14px; font-weight: 700; color: #1d1d1d; text-transform: uppercase; margin-bottom: 10px; }
@media only screen and (min-width: 1200px) { .feature h3 { font-size: 1.16667vw; margin-bottom: 0.83333vw; } }
.feature .feature__icon { font-size: 43px; color: black; min-height: 59px; }
@media only screen and (min-width: 1200px) { .feature .feature__icon { font-size: 3.58333vw; min-height: 4.91667vw; } }
.feature .feature__icon.icon-useful { font-size: 34px; position: relative; top: 6px; }
@media only screen and (min-width: 1200px) { .feature .feature__icon.icon-useful { font-size: 2.83333vw; top: 0.5vw; } }
.feature p { font-size: 14px; line-height: 1.42857; margin-right: 10px; }
@media only screen and (min-width: 1200px) { .feature p { font-size: 1.16667vw; } }
